services:
  immich-server:
    container_name: immich_server
    image: ghcr.io/immich-app/immich-server:${IMMICH_VERSION:-release}
    environment:
      DB_PASSWORD: ${DB_PASSWORD}
      DB_USERNAME: ${DB_USERNAME}
      DB_DATABASE_NAME: ${DB_DATABASE_NAME}
      TZ: ${TZ}
    volumes:
      - ${UPLOAD_LOCATION}:/usr/src/app/upload
      - /volume1/Data/Dropbox/Photos/Фото:/mnt/media/photos/by-year:ro
      - /volume1/Data/Dropbox/Photos/CameraUploads:/mnt/media/photos/old-phone:ro
      - /etc/localtime:/etc/localtime:ro
    ports:
      - 2283:2283
    depends_on:
      - redis
      - database
    restart: always
    healthcheck:
      disable: false
    labels:
      # proxy settings
      # local access
      - "traefik.enable=true"
      - "traefik.http.routers.immich-local.entrypoints=https"
      - "traefik.http.routers.immich-local.rule=Host(`immich.${LOCAL_DOMAIN}`)"
      - "traefik.http.routers.immich-local.tls=true"
      - "traefik.http.routers.immich-local.tls.certresolver=mydnschallenge"
      - "traefik.http.routers.immich-local.tls.domains[0].main=${LOCAL_DOMAIN}"
      - "traefik.http.routers.immich-local.tls.domains[0].sans=*.${LOCAL_DOMAIN}"
      # public access
      - "traefik.http.routers.immich.entrypoints=https"
      - "traefik.http.routers.immich.rule=Host(`photos.${MAIN_DOMAIN}`)"
      - "traefik.http.routers.immich.tls=true"
      - "traefik.http.routers.immich.tls.certresolver=mydnschallenge"
      - "traefik.http.routers.immich.tls.domains[0].main=${MAIN_DOMAIN}"
      - "traefik.http.routers.immich.tls.domains[0].sans=*.${MAIN_DOMAIN}"
      # homepage integration
      - homepage.group=Media
      - homepage.name=Immich
      - homepage.icon=immich.png
      - homepage.href=https://immich.${LOCAL_DOMAIN}
      - homepage.description=Photo manager
      - homepage.widget.type=immich
      - homepage.widget.url=http://immich-server:2283
      - homepage.widget.key=${IMMICH_API_KEY}
      - homepage.widget.version=2

  immich-machine-learning:
    container_name: immich_machine_learning
    image: ghcr.io/immich-app/immich-machine-learning:${IMMICH_VERSION:-release}
    environment:
      DB_PASSWORD: ${DB_PASSWORD}
      DB_USERNAME: ${DB_USERNAME}
      DB_DATABASE_NAME: ${DB_DATABASE_NAME}
      TZ: ${TZ}
    volumes:
      - model-cache:/cache
    restart: always
    healthcheck:
      disable: false

  redis:
    container_name: immich_redis
    image: docker.io/valkey/valkey:8@sha256:81db6d39e1bba3b3ff32bd3a1b19a6d69690f94a3954ec131277b9a26b95b3aa
    healthcheck:
      test: redis-cli ping || exit 1
    restart: always

  database:
    container_name: immich_postgres
    image: ghcr.io/immich-app/postgres:14-vectorchord0.4.3-pgvectors0.2.0@sha256:bcf63357191b76a916ae5eb93464d65c07511da41e3bf7a8416db519b40b1c23
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_DB: ${DB_DATABASE_NAME}
      POSTGRES_INITDB_ARGS: '--data-checksums'
      DB_STORAGE_TYPE: 'HDD'
    volumes:
      - ${DB_DATA_LOCATION}:/var/lib/postgresql/data
    restart: always

volumes:
  model-cache:

networks:
  default:
    name: containers_bridge
    external: true